[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
docopt = "*"
smurf = {path = ".",editable = true}
httpie = "*"

[dev-packages]

[requires]
python_version = "3.6"
